node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
Server/config/vision_config.json

# macOS
.DS_Store

# Private Keys
Client/ReceiptParser-c49349c83627.json
